<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletIngresoExitoso</servlet-name>
        <servlet-class>com.tallerAutos.view.ServletIngresoExitoso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIngresoFallido</servlet-name>
        <servlet-class>com.tallerAutos.view.ServletIngresoFallido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaAutos</servlet-name>
        <servlet-class>com.tallerAutos.view.ServletListaAutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModelAutos</servlet-name>
        <servlet-class>com.tallerAutos.model.ServletModelAutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModelPilotos</servlet-name>
        <servlet-class>com.tallerAutos.model.ServletModelPilotos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControllerVehiculos</servlet-name>
        <servlet-class>com.tallerAutos.controller.ServletControllerVehiculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControllerClientes</servlet-name>
        <servlet-class>com.tallerAutos.controller.ServletControllerClientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIngresoExitoso</servlet-name>
        <url-pattern>/ServletIngresoExitoso.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIngresoFallido</servlet-name>
        <url-pattern>/ServletIngresoFallido.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaAutos</servlet-name>
        <url-pattern>/ServletListaAutos.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModelAutos</servlet-name>
        <url-pattern>/ServletModelAutos.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModelPilotos</servlet-name>
        <url-pattern>/ServletModelPilotos.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControllerVehiculos</servlet-name>
        <url-pattern>/ServletControllerVehiculos.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControllerClientes</servlet-name>
        <url-pattern>/ServletControllerClientes.view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
